#comments
  - $comments_config = _get_config('post_comments')
  - if (post_password_required())
    %p.nopassword= $comments_config('passw_protection')
    </div>
    - return;
  - if (have_comments()):
  %h3.comments-title
    - printf(_n($comments_config['title'][0], $comments_config['title'][1], get_comments_number()), number_format_i18n(get_comments_number()), '<em>' . get_the_title() . '</em>')
  - _include('comments_paginator.php')
  %ol.commentlist
    - wp_list_comments()
  - else:
    - if (!comments_open())
      .nocomments= $comments_config['closed']
  - endif
  <?php
    global $user_identity, $id;
    comment_form(array(
      'comment_field'        => '<p class="comment-form-comment"><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>',
      'must_log_in'          => '<p class="must-log-in">' .  sprintf( $comments_config['comment_form']['must_log_in'], wp_login_url( apply_filters( 'the_permalink', get_permalink( $id ) ) ) ) . '</p>',
      'logged_in_as'         => '<p class="logged-in-as">' . sprintf( $comments_config['comment_form']['logged_in_as'], admin_url( 'profile.php' ), $user_identity, wp_logout_url( apply_filters( 'the_permalink', get_permalink( $id ) ) ) ) . '</p>',
      'comment_notes_before' => '<p class="comment-notes">' . $comments_config['comment_form']['comment_notes_before'] . '</p>',
      'comment_notes_after'  => '<p class="form-allowed-tags">' . sprintf( $comments_config['comment_form']['comment_notes_after'], ' <code>' . allowed_tags() . '</code>' ) . '</p>',
      'title_reply'          => $comments_config['comment_form']['title_reply'],
      'title_reply_to'       => $comments_config['comment_form']['title_reply_to'],
      'cancel_reply_link'    => $comments_config['comment_form']['cancel_reply_link'],
      'label_submit'         => $comments_config['comment_form']['label_submit'],
    ))
  ?>