#comments
  - $comments_config = _get_config('post_comments')
  - if (post_password_required())
    %p.nopassword= $comments_config('passw_protection')
    </div>
    - return;
  - if (have_comments()):
  %h3.comments-title
    - printf(_n($comments_config['title'][0], $comments_config['title'][1], get_comments_number()), number_format_i18n(get_comments_number()), '<em>' . get_the_title() . '</em>')
  - _include('comments_paginator.php')
  %ol.commentlist
    - wp_list_comments()
  - else:
    - if (!comments_open())
      .nocomments= $comments_config['closed']
  - endif
  - comment_form()