- if (have_posts()) while (have_posts()): the_post()
- _include('post_paginator.php')
<div id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
  %h1.entry-title
    - the_title()
  - _include('post_meta.php')
  .entry-content
    - the_content()
    - wp_link_pages( array( 'before' => '<div class="page-link">' . __( 'Pages:', 'twentyten' ), 'after' => '</div>' ) )
</div>
- endwhile