<?php if (!have_posts()): ?>
  .not-found
    -= _get_config('not_found')
<?php else: ?>
  - while (have_posts())
    .hr-pre-post
    - MyWPRegistry::set('squares', array(0,1,2))
    - _include('separator.php')
    - the_post()
    <div id="post-<?php the_ID() ?>" <?php post_class() ?>>
      %h2.entry-title
        <a href="<?php the_permalink() ?>"><?php the_title() ?></a>
      <?php if (is_archive() || is_search()): ?>
        .entry-summary
          - the_excerpt()
      <?php else: ?>
        .entry-content
          - the_content(_get_config('continue_reading'))
      <?php endif; ?>
    </div>
<?php endif; ?>