.sb-block.search-block
  .c0.descr.pre= _get_config('search_text')
  .b0.box
    - _include('search_form.php')
  .clear
- foreach (_get_config('right_sidebar') as $sbPart)
  <?php
    $c = 'c' . $sbPart['color'];
    $b = 'b' . $sbPart['color'];
  ?>
  .sb-block
    - if ($sbPart['pretext'])
      .$c.descr.pre= $sbPart['pretext']
    .$b.box
      -= $sbPart['content']
    .clear
    - if ($sbPart['text'])
      .$c.descr= $sbPart['text']