Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{ENV:REDIRECT_STATUS} ^$
  RewriteCond %{REQUEST_URI} ^/public/index\.php(\?path=)?
  RewriteRule ^(.*)$ public/index.php [L,QSA]

  RewriteCond %{REQUEST_URI} !^/public/index\.php(\?path=)?
  RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>