Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^mix/(.*) mix/$1 [L,QSA]

  RewriteCond %{REQUEST_URI} !^/(web|mix)
  RewriteRule ^(.*)$ web/$1 [L,QSA]

  RewriteCond %{ENV:REDIRECT_STATUS} ^$
  RewriteRule ^(.*)$ web/$1 [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ web/$1 [L,QSA]
</IfModule>
