- $showMenu = $this->get('show_menu_and_logo')
- if (!isset($showMenu) || $showMenu)
  <?php
    $this->setMenu();
    $menu = $this->get('menu');
  ?>
  .menu2
    - foreach ($menu as $i => $item)
      <?php
        if (isset($item['name'])) {
          $i = '-' . $item['name'];
        }
        $class = 'item' . $i;
        $color = 'c' . $i;
        $bg_color = 'b' . $i;
      ?>
      .item.$class
        %a.$color{href="$item[1]"}
          %span= $item[0]
    .clear