.i-menu
  <?php
    $indexMenuParts = $this->get('index-menu');
    $indexMenuSubmenuSpace = 25;
    $indexMenuSubmenuWidth = 175;
    $borderSides = count($indexMenuParts) * 60;
    $containerStyle = 'width:'
        . (count($indexMenuParts) * ($indexMenuSubmenuWidth + $indexMenuSubmenuSpace) - $indexMenuSubmenuSpace) . 'px; '
        . 'left: -' . $borderSides . 'px; '
        . 'padding-left: ' . $borderSides . 'px;';
  ?>
  .container{style="$containerStyle"}
    - foreach ($indexMenuParts as $i => $part)
      <?php
        $ci = 'c' . $part['color'];
        $bi = 'b' . $part['color'];
        $class = 'submenu';
        $backgroundPosition = 'background-position: -' . ($i * $indexMenuSubmenuWidth) . 'px 6px';
        if ($i == 0) $class .= ' first';
      ?>
      .$class.$bi{style="$backgroundPosition"}
        .inner
          - if (!empty($part['title']))
            .title.$ci= $part['title']
            .clear
          .list
            .space.$bi
            %ul
              - foreach ($part['items'] as $item)
                %li
                  %a.$ci{href="$item[1]"}= $item[0]
    .clear
