- $this->_include('index_menu')
<?php
  $photo = $this->get('random-photo');
  $bcolor = 'b' . $photo['color'];
  $color = 'c' . $photo['color'];
?>
.random-photo-box
  .text.$color= $photo['text']
  .random-photo.$bcolor
    %a{href="<?php echo $photo['url']?>"}
      %img{src="<?php echo $photo['img']?>" alt="<?php echo $photo['alt']?>"}
  .clear