- $addClass = $this->get('column_index') == 0 ? 'first' : ''
.column.$addClass
  - foreach ($this->get('column') as $item)
    - if ($item[0] == 'space')
      .space
      - continue
    - $content = $item[1]
    - if ($item[0] == 'squares')
      - $this->set('squares', $content)
      - $this->_include('separator')
      - continue
    - if ($item[0] == 'title')
      %h2.title
        - if ($content[1])
          %a{href="$content[1]" target="_blank"}= $content[0]
        - if (!$content[1])
          -= $content[0]
      - continue
    - if ($item[0] == 'text')
      %p.text= $content