.columns
  - $columns = $this->get('columns')
  - for ($i = 2; $i < 4; ++$i)
    - if (isset($columns[$i]))
      - $this->set('column', $columns[$i])
      - $this->set('column_index', $i - 2)
      - $this->_include('column')
  .clear