<<<SCRIPT
<script type="text/javascript">
  function CreateBookmarkLink() {
    title = <?php echo json_encode(get_the_title()) ?>;
    url = <?php echo json_encode(get_permalink()) ?>;

    if (window.sidebar) { // Mozilla Firefox Bookmark
      window.sidebar.addPanel(title, url,"");
    } else if( window.external ) { // IE Favorite
      window.external.AddFavorite( url, title);
    } else if(window.opera && window.print) { // Opera Hotlist
      return true;
    }
  }
</script>
SCRIPT