<?php if (!have_posts()): ?>
  .not-found
    -= _get_config('not_found')
<?php else: ?>
  - _include('theme-scripts.php')
  - while (have_posts())
    - the_post()
    <div id="post-<?php the_ID() ?>" <?php post_class() ?>>
      .entry-head
        .entry-links
          - _include('icon-download.php')
          - _include('icon-torrent.php')
          - _include('icon-bookmark.php')
          - _include('icon-comments.php')
          .clear
        %h2.entry-title
          <a href="<?php the_permalink() ?>"><?php the_title() ?></a>
      .entry-content
        - _include('date-panel.php')
        - the_content(_get_config('continue_reading'))
        .clear
    </div>
  - if ($wp_query->max_num_pages > 1)
    - $pagination = _get_config('pagination')
    .navigation#nav-below
      .nav-previous
        - next_posts_link($pagination['previous'])
      .nav-next
        - previous_posts_link($pagination['next'])
      .clear
  - _include('entry_archives.php')
<?php endif; ?>