- if (have_posts()) while (have_posts()): the_post()
- _include('post_paginator.php')
<div id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
  - _include('theme-scripts.php')
  .entry-head
    .entry-links.post-links
      - _include('icon-download.php')
      - _include('icon-torrent.php')
      - _include('icon-bookmark.php')
      .clear
    %h2.entry-title
      - the_title()
  .entry-content
    - _include('date-panel.php')
    - the_content()
  .entry-utility
    - $edit_text = _get_config('edit_post_link')
    - edit_post_link($edit_text[0], '<span class="edit-link">', '</span>')
</div>
- _include('post_paginator.php')
- comments_template( '', true )
- endwhile
- _include('entry_archives.php')