.right-title.c2
  Кіноархів
.i-menu
  .container
    - foreach (_get_config('videos') as $i => $part)
      <?php
        $bi = 'b' . $part['color'];
        $class = 'submenu';
        $itemi = 'item' . $i;
        if ($i == 0) $class .= ' first';
      ?>
      .$class.$itemi.$bi
        .inner
          .title= $part['title']
          .clear
          .list
            .space.$bi
            %ul
              - foreach ($part['items'] as $item)
                %li
                  %a{href="$item[1]"}= $item[0]
    .clear
