.right-title.c2
  Кіноархів
.i-menu
  <?php
    $indexMenuParts = _get_config('videos');
    $indexMenuSubmenuSpace = 25;
    $indexMenuSubmenuWidth = 175;
    $borderSides = 40;
    $width = 'width:' . (count($indexMenuParts) * ($indexMenuSubmenuWidth + $indexMenuSubmenuSpace) + 2 * $borderSides - $indexMenuSubmenuSpace) . 'px';
  ?>
  .container{style="$width"}
    - foreach ($indexMenuParts as $i => $part)
      <?php
        $bi = 'b' . $part['color'];
        $class = 'submenu';
        $backgroundPosition = 'background-position: -' . ($i * $indexMenuSubmenuWidth) . 'px 6px';
        if ($i == 0) $class .= ' first';
      ?>
      .$class.$bi{style="$backgroundPosition"}
        .inner
          - if (!empty($part['title']))
            .title= $part['title']
            .clear
          .list
            .space.$bi
            %ul
              - foreach ($part['items'] as $item)
                %li
                  %a{href="$item[1]"}= $item[0]
    .clear
