@import "layout", "menu";

$copyright_total_height: 140px;

html, body, .container-bottom, .container-upper, .container-upper .left, .container-upper .left .content, .container-upper .right {
  height: 100%;
  min-height: 450px;
}
.container-upper .left .content {
  margin-top: -$copyright_total_height;
  position: relative;
}

$err_logo_width: 420px;
$err_logo_height: 141px;
$err_logo_margin_top: $copyright_total_height - $err_logo_height / 2 - 150px;
$err_logo_margin_left: -$err_logo_width / 2;

.left-404-logo, .left-404-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: $err_logo_margin_left;
  width: $err_logo_width;
}

.left-404-logo {
  height: $err_logo_height;
  margin-top: $err_logo_margin_top;
  background-image: url('#{$_img}error_logo.png');
}

.left-404-menu {
  margin-top: $err_logo_margin_top + $err_logo_height + 10px;
}

$err_sublogo_width: 146px;
$err_sublogo_height: 104px;

.left-404-menu-sublogo {
  float: right;
  margin: 0;
  width: $err_sublogo_width;
  background-image: url('#{$_img}error_404.png');
  background-repeat: no-repeat;
  position: relative;
  h1 {
    position: absolute;
    text-indent: -9000px;
  }
}

.menu-404 {
  margin-top: $err_sublogo_height + 20px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      a, a:hover, a:visited, a:visited:hover {
        text-decoration: none;
      }
      a {
        font-size: 13pt;
        font-family: $title_font_family;
        text-transform: uppercase;
      }
    }
    li.back {
      a { font-size: 18pt; }
      margin-bottom: 10px;
    }
  }
}

.container-upper .right .content {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.right-404 {
  height: 80%;
  width: 10%;
  position: absolute;
  top: 10%;
  left: 0;
}

.right-404-space {
  height: 3.75%
}

.right-404-item {
  height: 17%;
}

.right-404-item1, .right-404-item2 {
  float: left;
  background-color: red;
  height: 100%;
}

$err_item1_width: 12%;
.right-404-item1 { width: $err_item1_width; }

$err_height_round: 19%;

.even .right-404-item2 {
  width: (99% - $err_item1_width) * 0.3973;
  $err_width_round1: 80%;
  @include round-corner($err_width_round1 $err_height_round, 'right', 'top');
  @include round-corner($err_width_round1 $err_height_round, 'right', 'bottom');
}
.odd .right-404-item2 {
  width: 99% - $err_item1_width;
  $err_width_round2: 32%;
  @include round-corner($err_width_round2 $err_height_round, 'right', 'top');
  @include round-corner($err_width_round2 $err_height_round, 'right', 'bottom');
}

.be0 {
  .right-404-item1 { background-color: $menu_color0_b; }
  .right-404-item2 { background-color: $menu_color0; }
}

.be1 {
  .right-404-item1 { background-color: $menu_color1_b; }
  .right-404-item2 { background-color: $menu_color1; }
}

.be2 {
  .right-404-item1 { background-color: $menu_color2_b; }
  .right-404-item2 { background-color: $menu_color2; }
}

.be3 {
  .right-404-item1 { background-color: $menu_color3_b; }
  .right-404-item2 { background-color: $menu_color3; }
}

.be4 {
  .right-404-item1 { background-color: $menu_color4_b; }
  .right-404-item2 { background-color: $menu_color4; }
}
