@import "img", "all0";

$min_site_width: 900px;

body {
  margin: 0;
  padding: 0;
  font-family: $body_font;
  font-size: 10pt;
}
.clear {
  height: 0;
  width: 0;
  float: 0;
  clear: both;
  font-size: 0;
}
a {
  text-decoration: underline;
  cursor: pointer;
  img { border: none; }
  color: $text_color;
}

a:hover, a:visited { color: $a_color_visited; }
a:visited:hover { color: $a_color_visited_hover; }