$body_background_color: #302c2d;
$large_size: 10000px;
$bottom_space: 40px;
$body_font: Arial,sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $body_background_color;
  font-family: $body_font;
  font-size: 10pt;
}
.clear {
  height: 0;
  width: 0;
  float: 0;
  clear: both;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}