@import "all", "menu_colors", "menu";

$left_content_width: 80%;
$content_menu_margin: 60px;
$copyright_margin: 40px;
$menu_height: 90px;

$margin_left_aligned: -$left_content_width / 2;

.all {
  min-width: 900px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.left, .right {
  width: 49.999%;
  float: left;
  margin-bottom: $bottom_space - $large_size;
  padding-bottom: $large_size;
}

.left {
  background-color: $body_background_color;
  .menu, .content, .copyright {
    position: relative;
    left: 50%;
  }
  .content {
    margin-top: $content_menu_margin;
  }

  .content, .copyright {
    color: $text_color;
    width: $left_content_width;
    margin-left: $margin_left_aligned;
  }

  .copyright {
    margin-top: $copyright_margin;
    font-size: 9pt;
    .name { margin-top: 7px; }
  }
}

.right {
  background-color: #000;

  .logo, .content {
    position: relative;
    left: 50%;
    width: $left_content_width;
  }

  .content {
    margin-left: $margin_left_aligned;
    @include right-content($menu_height, $content_menu_margin, $margin_left_aligned);
  }
}


.menu { @include alamix-menu(390px, $menu_height); }
.logo { @include logo($menu_height, $margin_left_aligned); }