@import "all";
@import "menu_colors";
@import "menu";

$left_content_width: 390px;

.all {
  overflow: hidden;
  width: 100%;
}
.left, .right {
  width: 50%;
  float: left;
  margin-bottom: $bottom_space - $large_size;
  padding-bottom: $large_size;
}

.left {
  background-color: $body_background_color;
}

.right {
  background-color: #000;
}


.menu {
  width: $left_content_width;
  position: relative;
  left: 50%;
  margin-left: -$left_content_width / 2;
  height: 90px;
  @include alamix-menu();
}