@import "all";
@import "menu_colors";
@import "menu";

$left_content_width: 80%;
$content_menu_margin: 60px;

.all {
  overflow: hidden;
  width: 100%;
}
.left, .right {
  width: 49.999%;
  float: left;
  margin-bottom: $bottom_space - $large_size;
  padding-bottom: $large_size;
}

.left {
  background-color: $body_background_color;
  .menu, .content {
    position: relative;
    left: 50%;
  }
  .content {
    width: $left_content_width;
    margin-left: -$left_content_width / 2;
    margin-top: $content_menu_margin;
  }
}

.right {
  background-color: #000;
}


.menu { @include alamix-menu(390px, 90px); }