@import "menu_default_params";

@mixin alamix-menu2($menu_width, $menu_height) {

  width: $menu_width;
  height: $menu_height;
  text-align: center;
  font-size: 10pt;

  $horizontal_menu_item_round_radius: $menu_item_round_radius * 100%;
  .item {
    $vertical_menu_item_round_radius: $menu_width * $menu_item_round_radius * $menu_item_width;
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'bottom');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'bottom');
    width: $menu_item_width * 100%;
    position: relative;
    float: left;
    height: $menu_height;
    span {
      display: block;
      height: $menu_height;
      line-height: 170%;
    }
    a, a:hover, a:visited, a:visited:hover { text-decoration: none; }
    a:hover span {
      font-size: 115%;
      line-height: 150%;
    }
  }

  .item.item-heart {
    width: $menu_heart_item_width * 100%;
    .c-heart img {
      margin-top: $menu_height * 0.2;
      height: $menu_height * 0.6;
    }

    $vertical_menu_item_round_radius: $menu_width * $menu_item_round_radius * $menu_heart_item_width;
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'bottom');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'bottom');
  }
}