@import "menu_default_params";

@mixin alamix-menu2($menu_width, $menu_height) {

  width: $menu_width;
  height: $menu_height;
  text-align: center;
  font-size: 10pt;

  .item {
    $horizontal_menu_item_round_radius: $menu_item_round_radius * 100%;
    $vertical_menu_item_round_radius: $menu_width * $menu_item_round_radius * $menu_item_width;
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'left', 'bottom');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'top');
    @include round-corner($horizontal_menu_item_round_radius $vertical_menu_item_round_radius, 'right', 'bottom');
    width: $menu_item_width * 100%;
    position: relative;
    float: left;
    height: $menu_height;
    span {
      display: block;
      height: $menu_height;
      line-height: 170%;
    }
    a, a:hover, a:visited, a:visited:hover { text-decoration: none; }
    a:hover span {
      font-size: 115%;
      line-height: 150%;
    }
  }
}