$menu_color0: #06caff;
$menu_color1: #88c02b;
$menu_color2: #dd2150;
$menu_color3: #c37077;
$menu_color4: #e97749;

.c0 { color: $menu_color0; }
.c1 { color: $menu_color1; }
.c2 { color: $menu_color2; }
.c3 { color: $menu_color3; }
.c4 { color: $menu_color4; }

.b0 { background-color: $menu_color0; }
.b1 { background-color: $menu_color1; }
.b2 { background-color: $menu_color2; }
.b3 { background-color: $menu_color3; }
.b4 { background-color: $menu_color4; }

