$menu_darken: 30%;
$menu_lighten1: 20%;
$menu_lighten2: 34%;

$menu_color0_b: darken($menu_color0, $menu_darken);
$menu_color1_b: darken($menu_color1, $menu_darken);
$menu_color2_b: darken($menu_color2, $menu_darken);
$menu_color3_b: darken($menu_color3, $menu_darken);
$menu_color4_b: darken($menu_color4, $menu_darken);

$menu_color_l0: lighten($menu_color0, $menu_lighten1);
$menu_color_l1: lighten($menu_color1, $menu_lighten1);
$menu_color_l2: lighten($menu_color2, $menu_lighten1);
$menu_color_l3: lighten($menu_color3, $menu_lighten1);
$menu_color_l4: lighten($menu_color4, $menu_lighten1);

$menu_color_l0_b: lighten($menu_color0, $menu_lighten2);
$menu_color_l1_b: lighten($menu_color1, $menu_lighten2);
$menu_color_l2_b: lighten($menu_color2, $menu_lighten2);
$menu_color_l3_b: lighten($menu_color3, $menu_lighten2);
$menu_color_l4_b: lighten($menu_color4, $menu_lighten2);

@mixin round-corner($round_size, $w: 'all', $h: 'all') {
  @if $w == 'all' {
    border-radius: $round_size;
    -moz-border-radius: $round_size;
    -webkit-border-radius: $round_size;
  }
  @else {
    border-#{$h}-#{$w}-radius: $round_size;
    -moz-border-radius-#{$h}#{$w}: $round_size;
    -webkit-border-radius-#{$h}#{$w}: $round_size;
  }
}

@mixin alamix-menu($menu_width, $menu_height) {

  //set sizes
  $menu_item_width: .17;
  $menu_space_width: 100% * (1 - 5 * $menu_item_width) / 4;

  $menu_item_height: .78;

  $menu_item_text_height: .34 * $menu_item_height * $menu_height;
  $menu_item_tab_height: ($menu_height - $menu_item_text_height) / 2;
  $menu_item_tail_height: $menu_height * $menu_item_height - $menu_item_text_height - $menu_item_tab_height;

  $menu_item_round_radius: .15;
  $menu_item_round: $menu_item_round_radius * $menu_width * $menu_item_width $menu_item_round_radius * $menu_item_height * $menu_height;

  //set styles
  width: $menu_width;
  min-width: $menu_width;
  margin-left: -$menu_width / 2;

  height: $menu_height;
  text-align: center;
  font-size: 10pt;

  .item {
    width: $menu_item_width * 100%;
    position: relative;
    float: left;
    height: $menu_item_height * 100%;
    span { display: block; }
    .text {
      height: $menu_item_text_height;
      line-height: 150%;
    }
    a { text-decoration: none; }
    a:hover .text {
      font-size: 115%;
      line-height: 130%;
    }
  }

  .up, .down, .tail {
    @include round-corner($menu_item_round, 'right', 'bottom');
    @include round-corner($menu_item_round, 'left', 'bottom');
  }

  .down, .down .head {
    @include round-corner($menu_item_round, 'right', 'top');
    @include round-corner($menu_item_round, 'left', 'top');
  }

  .up .head, .down .tail { height: $menu_item_tab_height; }
  .down .head, .up .tail { height: $menu_item_tail_height; }

  .up { top: 0; }
  .down { top: (1 - $menu_item_height) * 100%; }

  .item0 {
    left: 0;
    background-color: $menu_color0_b;
  }
  .item1 {
    left: $menu_space_width;
    background-color: $menu_color1_b;
  }
  .item2 {
    left: 2 * $menu_space_width;
    background-color: $menu_color2_b;
  }
  .item3 {
    left: 3 * $menu_space_width;
    background-color: $menu_color3_b;
  }
  .item4 {
    left: 4 * $menu_space_width;
    background-color: $menu_color4_b;
  }

  .item.light0 {
    background-color: $menu_color_l0_b;
    a { color: $menu_color_l0; }
    .head, .tail { background-color: $menu_color_l0; }
  }
  .item.light1 {
    background-color: $menu_color_l1_b;
    a { color: $menu_color_l1; }
    .head, .tail { background-color: $menu_color_l1; }
  }
  .item.light2 {
    background-color: $menu_color_l2_b;
    a { color: $menu_color_l2; }
    .head, .tail { background-color: $menu_color_l2; }
  }
  .item.light3 {
    background-color: $menu_color_l3_b;
    a { color: $menu_color_l3; }
    .head, .tail { background-color: $menu_color_l3; }
  }
  .item.light4 {
    background-color: $menu_color_l4_b;
    a { color: $menu_color_l4; }
    .head, .tail { background-color: $menu_color_l4; }
  }
}