@mixin separator($height, $size: 2px, $color: #a3a3a3) {

  $squares_width: 6 * $height;

  .inner { margin-left: $squares_width; }

  .hr {
    width: 49.999%;
    background-color: $color;
    height: $size;
    border: none;
    margin-top: ($height - $size) / 2;
    font-size: 0;
  }

  .hr, .squares {
    float: left;
    display: block;
  }

  .hr.first {
    margin-left: -$squares_width;
  }

  .squares {
    @include squares($height, 3, $squares_width);
  }
}