@import "layout";

.navigation {
  $navigationLineHeight: 13px;
  a, a:hover, a:visited {
    text-decoration: none;
    color: $menu_color0;
    vertical-align: middle;
    line-height: $navigationLineHeight;
  }
  .paginator-arrow {
    font-size: 3em;
    position: relative;
    top: -4px;
    vertical-align: middle;
    line-height: $navigationLineHeight;
  }
  .nav-previous { float: left; }
  .nav-next { float: right; }
  .nav-previous, .nav-next { width: 35%;}
}
.entry-utility {
  margin: 15px 0;
}

#commentform {
  p {
    width: 338px;
    input { float: right; }
    label, span {
      position: relative;
      top: 4px;
    }
  }
  p.comment-notes, p.form-allowed-tags { width: auto; }
  p.form-submit input { float: none; }
  p.comment-notes span { position: static; }
}