@import "layout";

.navigation {
  a, a:hover, a:visited {
    text-decoration: none;
    color: $menu_color0;
  }
  .paginator-arrow {
    font-size: 3em;
    position: relative;
    top: 6px;
  }
  .nav-previous { float: left; }
  .nav-next { float: right; }
}

#commentform {
  p {
    width: 338px;
    input { float: right; }
    label, span {
      position: relative;
      top: 4px;
    }
  }
  p.comment-notes, p.form-allowed-tags { width: auto; }
  p.form-submit input { float: none; }
  p.comment-notes span { position: static; }
}