@import "layout";

$content_margins: 150px;

.left .content {
  .title {
    margin: 0;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 25pt;
      font-weight: normal;
      &:hover { color: $titles_color; }
      font-family: $title_font_family;
    }
  }
  .selected a {
    color: $titles_color;
  }
  .about-text {
    padding: 5px 0 20px;
  }
  margin-top: $content_margins;
  margin-bottom: $content_margins;
}

.right {
  .contacts {
    margin-bottom: 8px;
    margin-top: -80px;
    height: 82px;
    overflow: auto;
    position: relative;
    .container {
      position: relative;
      left: 0;
    }
  }
  .gallery {
    margin-top: 50px;
    height: 600px;
  }
  .socio-box {
    $weheartit_width: 180px;
    margin: 40px 0 20px 180px;
    .widget-item { float: left; }
    .weheartit {
      width: $weheartit_width;
      margin-left: -$weheartit_width;
    }
    .twitter { margin-left: 20px; }
  }
}