@import "layout", "squares", "separator";

.left {
  .sep {
    @include separator(10px);
  }
}

.news {
  margin-top: 40px;
  .item { margin-top: 10px; }
  .title a {
    font-size: 18pt;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
  }
  .title a, .date { color: #cecac0; }
  .date { margin-top: 5px; }
  .text { margin-top: 15px; }
  .text, .text a { color: #6b6b6b; }
  .text a:hover, .text a:visited { color: $a_color_visited; }
}