@import "layout", "squares", "separator";

.left {
  .sep {
    @include separator(10px);
  }
}

.news {
  margin-top: 40px;
  .item { margin-top: 11px; }
  .title { margin: 0; }
  .title a {
    font-size: 18pt;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
  }
  .title a, .date { color: #cecac0; }
  .date { margin-top: 5px; }
  .text {
    margin-top: 15px;
    font-size: 11pt;
  }
  .text { color: $text_color; }
}