@import "layout", "squares", "separator";

$columns_vspace: 40px;
.columns {
  margin-left: $columns_vspace;
}
.column {
  float:left;
  width: 49.8%;
  margin-left: $columns_vspace;
}

.column.first {
  margin-left: -$columns_vspace;
}

.space {
  height: $news_separator_space_before;
}

.sep {
  @include separator(10px);
  margin-bottom: $news_separator_space_after;
}

.title {
  font-family: $title_font_family;
  font-size: $title_font_size;
  font-weight: normal;
  color: $titles_color;
  a, a:hover, a:visited, a:visited:hover {
    text-decoration: none;
    color: $titles_color;
  }
  margin: 0 0 15px 0;
}

.column .text {
  margin: 0;
  font-size: 11pt;
  font-family: $text_font_family;
  text-align: justify;
  color: $news_text_color;
}