@import "wp";
$roundPostRadius: 7px;
$entryLinkWidth: 33px;
$entryLinkHeight: 31px;
$entryLinkSpace: 3px;
$linksWidth: 4 * ($entryLinkWidth + $entryLinkSpace);
$commentBoxBottom: 17px;
$commentBoxHeight: 53px;
$postBgColor: #E1E5E7;

.entry-head {
  position: relative;
  .entry-links {
    position: absolute;
    bottom: 1px;
    right: 0;
    margin-right: $roundPostRadius;
    .entry-link, .commentsBox {
      float: right;
      margin-left: $entryLinkSpace;
      position: relative;
    }
    .entry-link a {
      display: block;
      width: $entryLinkWidth;
      height: $entryLinkHeight;
    }
  }
  .loop-links .entry-link, .commentsBox { bottom: $entryLinkHeight - $commentBoxHeight;}
  .entry-title {
    margin: 15px $linksWidth + $roundPostRadius 0 $roundPostRadius;
    padding-bottom: 10px;
  }
}

.entry-content {
  background-color: $postBgColor;
  padding: $roundPostRadius;
  color: #050809;
  position: relative;
  @include round-corner($roundPostRadius);
}

.commentsBox {
  height: $commentBoxHeight;
  text-align: center;
  width: $entryLinkWidth;
  background: url(../img/wp/cmIco.png) no-repeat;
  &:hover {background: url(../img/wp/cmIcoH.png) no-repeat;}
  a, a:hover, a:visited, a:active {
    color: $postBgColor;
    display: block;
    height: $commentBoxBottom;
    padding-top: 34px;
    position: relative;
    width: $entryLinkWidth;
    z-index: 10;
    text-decoration: none;
  }
  .commentIcon {
    background: url(../img/wp/cmBg.png) bottom no-repeat;
    height: $commentBoxBottom;
    margin-top: -19px;
    position: relative;
    width: $entryLinkWidth;
    z-index: 9;
  }
}
.bookmarkBox {
  background: url(../img/wp/bmIco.png) no-repeat;
   &:hover {background: url(../img/wp/bmIcoH.png) no-repeat;}
}
.downloadBox {
  background: url(../img/wp/dlIco.gif) no-repeat;
}
.torrentBox {
  background: url(../img/wp/ttIco.jpg) no-repeat;
}

.datePanel {
  @include round-corner(4px);
  background: url("../img/wp/dateIcon.png") no-repeat scroll -4px 0 $postBgColor;
  color: #000000;
  left: -30px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-top: 26px;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 33px;
  
  .dayth {
    color: #4C5F65;
    font-size: 7pt;
  }
  .day {
    font-size: 9pt;
    font-weight: bold;
  }
  .month {
    font-size: 9pt;
    font-weight: bold;
  }
  .year {
    font-size: 8pt;
  }
}