@import "wp";
$roundPostRadius: 7px;
$linksWidth: 70px;

.entry-head {
  position: relative;
  .entry-links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: $roundPostRadius;
    .entry-link {
      float: right;
    }
  }
  .entry-title {
    margin: 0 $linksWidth 0 $roundPostRadius;
    padding-bottom: 10px;
  }
}

.entry-content {
  background-color:#e1e5e7;
  padding: $roundPostRadius;
  /*padding:25px 18px 18px 40px;*/
  color:#050809;
  position:relative;
  @include round-corner($roundPostRadius);
}