@import "wp", "squares", "separator";

$general_space: 7px;
$hr_pre_post_outside: 5%;
$search_button_width: 80px;

.sb-block {
  margin-bottom: 4px;
  .box {
    @include round-corner($general_space);
    padding: $general_space;
    line-height: 0;
    float: left;
    form { margin: 0;}
  }
  .descr { margin-left: $general_space; }
}

.search-block .box {
  width: 100%;
  .searchform {
    margin-left: $search_button_width;
  }
  #s {
    width: 100%;
    margin-left: -$search_button_width;
  }
}

.left {
  .sep {
    @include separator(10px);
  }
}

.entry-title a, .entry-title a:hover, .entry-title a:visited, .entry-meta { color: $titles_color; }
.entry-meta a {
  text-decoration: none;
}
.entry-title {
  margin-bottom: 0;
  a {
    font-size: 20pt;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-family: Calibri,"DejaVu Sans Condensed","DejaVu Sans",Verdana,sans-serif;
  }
}
.entry-content {
  margin-bottom: 10px;
  .more-link {
    float: right;
    font-size: 10pt;
    text-decoration: none;
  }
}
.entry-content > p:first-of-type:first-letter {
  font-size: 5em;
  font-family: times,serif;
  background-color: $titles_color;
  color: $body_background_color;
  padding: 5px;
  margin: 0 4px 4px 0;
  float: left;
}

.entry-archives {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  li {
    float: left;
    margin-right: 10px;
    a {
      color: $menu_color0_b;
      text-decoration: none;
    }
    a:hover { color: $menu_color0; }
  }
}

li.comment {
  margin-bottom: 15px;
  p {
    margin: 7px 0;
  }
}