@import "photo_heart";

.albumSelect {
  height: $albumSelect_height;
  line-height: $albumSelect_height;
  position: relative;
  margin-top: ($items_height - $albumSelect_height) / 2;;
  width: $albumSelect_width;

  ul {
    display: none;
    list-style: none outside none;
    margin: 22px 0 0;
    padding: 0;
    width: 100%;

    a {
      display: block;
      padding: 3px 0;
      text-decoration: none;
      &:hover {
        color: #FFF;
        background-color: $menu_color2_b;
      }
    }
  }

  ul a, .title {
    color: $gallery_color;
    cursor: pointer;
    text-indent: 10px;
  }

  .title {
    background-position: $albumSelect_width - 16px 50%;
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .down { background-image: url('#{$_img}down.png'); }
  .up { background-image: url('#{$_img}up.png'); }
}

/*** CENTER of the page ***
**************************/

$img_border_radius: 7px;

noscript {
  font-size: 20pt;
  color: #FFFFFF;
}

#loading {
    background: url('#{$_img}loading.gif') no-repeat scroll left top transparent;
    display: none;
    height: 50px;
    left: 50%;
    margin-left: -24px;
    position: absolute;
    top: 40%;
    width: 50px;
}

#imageWrapper {
    top: $albumbar_height + 5px;
    position: relative;
    text-align: center;
    img {
      box-shadow: 2px 2px 10px #111111;
      margin: 0 auto;
      border: $img_border_radius solid $menu_color2;
      font-size: 0;
      @include round-corner($img_border_radius);
    }
}

.cursorLeft { cursor: url("#{$_img}prev.png"), w-resize; }
.cursorRight { cursor: url("#{$_img}next.png"), e-resize; }
.cursorPlus { cursor: url("#{$_img}plus.png"), crosshair; }
.cursorMinus { cursor: url("#{$_img}minus.png"), default; }

/*** BOTTOM of the page ***
**************************/

$thumbs_height: 120px;

#thumbsWrapper {
  border-top: 2px solid #000000;
  bottom: 0;
  height: $info_heigth + $thumbs_height;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  width: 100%;

  #thumbsContainer {
    display: block;
    height: $thumbs_height;
    margin: 0;
  }

  img {
    cursor: pointer;
    display: block;
    float: left;
    margin: 2px;
    opacity: 0.4;
    height: $thumbs_height;
  }
}