@import "all", "menu_colors", "light_menu";

$gallery_color: #F0F0F0;

body {
  background-color: $body_background_color2;
  overflow-y: hidden;
}


/*** TOP of the page ***
***********************/

$albumbar_height: 30px;
$items_height: 23px;
$albumSelect_height: 18px;
$albumSelect_width: 170px;
$albumSelect_margin_right: 5px;

.albumbar, #preview, #thumbsWrapper, .infobar {
  min-width: $min_site_width;
}

.albumbar {
  height: $albumbar_height;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.menu2 {
  @include alamix-menu2($menu_width, 23px);
  @include menu-items-position-and-colors($menu_color0_b, $menu_color1_b, $menu_color2_b, $menu_color3_b, $menu_color4_b);
  margin-left: -$menu_width / 2;
  z-index: 12;
}

.logo {
  font-size: 0;
  img { height: $items_height; }
  a {
    position: relative;
    left: 50%;
    margin-left: -130px;
  }
  width: 100%;
  margin-left: -$albumSelect_width - $albumSelect_margin_right;
}

.logo-box {
  width: 75%;
  margin-left: -$menu_width / 2;
}

.logo-box-inner {
  margin-left: $albumSelect_width + $albumSelect_margin_right + $menu_width / 2;
}

.logo-box, .menu2, .logo, .albumSelect { float: left; }

.logo-box, .menu2 {
  position: relative;
  left: 25%;
  margin-top: ($albumbar_height - $items_height) / 2;
}

.albumSelect {
  height: $albumSelect_height;
  line-height: $albumSelect_height;
  position: relative;
  margin-top: ($items_height - $albumSelect_height) / 2;;
  width: $albumSelect_width;

  ul {
    display: none;
    list-style: none outside none;
    margin: 22px 0 0;
    padding: 0;
    width: 100%;

    a {
      display: block;
      padding: 3px 0;
      text-decoration: none;
      &:hover {
        color: #FFF;
        background-color: $menu_color2_b;
      }
    }
  }

  ul a, .title {
    color: $gallery_color;
    cursor: pointer;
    text-indent: 10px;
  }

  .title {
    background-position: $albumSelect_width - 16px 50%;
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .down { background-image: url('#{$_img}down.png'); }
  .up { background-image: url('#{$_img}up.png'); }
}

/*** CENTER of the page ***
**************************/

$img_border_radius: 7px;

noscript {
  font-size: 20pt;
  color: #FFFFFF;
}

#loading {
    background: url('#{$_img}loading.gif') no-repeat scroll left top transparent;
    display: none;
    height: 50px;
    left: 50%;
    margin-left: -24px;
    position: absolute;
    top: 40%;
    width: 50px;
}

#imageWrapper {
    top: $albumbar_height + 5px;
    position: relative;
    text-align: center;
    img {
      box-shadow: 2px 2px 10px #111111;
      margin: 0 auto;
      border: $img_border_radius solid $menu_color2;
      font-size: 0;
      @include round-corner($img_border_radius);
    }
}

.cursorLeft { cursor: url("#{$_img}prev.png"), w-resize; }
.cursorRight { cursor: url("#{$_img}next.png"), e-resize; }
.cursorPlus { cursor: url("#{$_img}plus.png"), crosshair; }
.cursorMinus { cursor: url("#{$_img}minus.png"), default; }

/*** BOTTOM of the page ***
**************************/

$thumbs_height: 120px;
$info_heigth: 30px;

#thumbsWrapper {
  border-top: 2px solid #000000;
  bottom: 0;
  height: $info_heigth + $thumbs_height;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  width: 100%;

  #thumbsContainer {
    display: block;
    height: $thumbs_height;
    margin: 0;
  }

  img {
    cursor: pointer;
    display: block;
    float: left;
    margin: 2px;
    opacity: 0.4;
    height: $thumbs_height;
  }
}

.infobar {
  bottom: 0;
  height: $info_heigth;
  left: 0;
  line-height: $info_heigth;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 11pt;
  color: $gallery_color;

  #description {
    text-shadow: 0 0 1px $gallery_color;
  }
  .reference {
    $reference_width: 500px;
    font-size: 75%;
    color: $text_color;
    bottom: 2px;
    float: left;
    width: $reference_width;
    margin-right: -$reference_width;
    text-align: left;
    padding-left: 10px;
  }
}
