.contacts.i-menu
  <?php
    $contacts = $this->get('contacts');
    $width = 'width:' . (count($contacts) * 61) . 'px';
  ?>
  .container{style="$width"}
    - foreach ($contacts as $contact)
      <?php $href = $contact['href']?>
      %a{href="$href" target="_blank"}
        -= $this->_img('ico/' . $contact['ico'])