- foreach ($this->get('content') as $title => $info)
  <?php $color = 'c' . $info['color']?>
  .about-item
    %h2.title
      %a.$color= $title
    .about-text= $info['text']
.socio-box
  .weheartit.widget-item
    - $this->_include('weheartit')
  .twitter.widget-item
    - $this->_include('twitter')
  .clear