%script{src="http://widgets.twimg.com/j/2/widget.js"}
%script
  <<<SCRIPT
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#e77743'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#e77743'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setUser('ItsAlaMix').start();
  SCRIPT