%html
  %head
    %title 404 - Not Found
  %body
    This is 404 page. You can delete this file and create 
    %b
      \/app/views/404/index.php
    \ to show your 404 page wrapped by 
    %b
      layout.php
