%title= $this->get('title')
%meta{charset="utf-8"}
- foreach ($this->get('stylesheets') as $stylesheet)
  -= $this->_css($stylesheet)
<!--[if gte IE 6 ]>
-= $this->_css('ie.css')
<![endif]-->
<!--[if IE 6 ]>
-= $this->_css('ie6.css')
<![endif]-->
- foreach ($this->get('javascripts') as $javascript)
  -= $this->_js($javascript)
