- $showLogo = $this->get('show_menu_and_logo')
- if (!isset($showLogo) || $showLogo)
  %h1.logo
    %a{href="<?php echo get_routes()->build_path('root') ?>"}
      - $imgFile = $this->get('logo_use_mini') ? 'logo_mini.png' : 'logo.png'
      -= $this->_img($imgFile, 'web-куточок Аля Мікс')
    .clear