- $showMenu = $this->get('show_menu_and_logo')
- if (!isset($showMenu) || $showMenu)
  <?php
    $this->setMenu();
    $menu = $this->get('menu');
    $menu[] = array($this->_img('heart.png', 'Heart'), get_routes()->build_path('heart'), 'name' => 'heart');
  ?>
  .menu
    - foreach ($menu as $i => $item)
      <?php
        $odd = ($i % 2 == 0) ? 'up' : 'down';
        if (isset($item['name'])) {
          $i = '-' . $item['name'];
        }
        $class = 'item' . $i;
        $color = 'c' . $i;
        $bg_color = 'b' . $i;
      ?>
      .item.$odd.$class
        %a.$color{href="$item[1]"}
          %span.head.$bg_color
          %span.text= $item[0]
          %span.tail.$bg_color
    .clear