!!! 5
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title= $this->get('title')
    %meta{charset="utf-8"}
    - foreach ($this->get('stylesheets') as $stylesheet)
      -= $this->_css($stylesheet)
    - foreach ($this->get('javascripts') as $javascript)
      -= $this->_js($javascript)
  %body
    - $this->_include('ie6update')
    .all
      .left
        - $this->_include('menu')
        .content
          - $this->_include('left')
        - $this->_include('copyright')
      .right
        - $this->_include('logo')
        .content
          - $this->_include('right')
      .clear