!!! 5
%html
  %head
    - $this->_include('head')
  %body
    - $this->_include('ie6update')
    .albumbar
      - $this->_include('light_menu')
      .logo-box
        .logo-box-inner
          - $this->set('logo_use_mini', true);
          - $this->_include('logo')
          - $this->_include('albums_select')
          .clear
      .clear
    #loading
    #preview
      #imageWrapper
    #thumbsWrapper
    .infobar
      %span#description
      - $this->_include('copyrights')