!!! 5
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    - $this->_include('head')
  %body
    - $this->_include('ie6update')
    .albumbar
      - $this->_include('light_menu')
      .logo-box
        .logo-box-inner
          - $this->_include('logo')
          - $this->_include('albums_select')
          .clear
      .clear